@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Chat</title>
</head>
<body>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles -->
        <link rel="stylesheet" href="colors.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="fonts.css">
        <link href="~/assets1/colors.css" rel="stylesheet" />
        <link href="~/assets1/style.css" rel="stylesheet" />
        <link href="~/assets1/fonts.css" rel="stylesheet" />
        <script src="~/assets/js/vendor/jquery-3.2.1.min.js"></script>


        <script src="~/assets1/script.js"></script>
        <!-- Fonts -->
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Chat Box</title>
    </head>
    <body>
        <!-- constaner -->
        <div class="outer-container roboto">

            <div class="container">

                <div class="inner-container">
                    <div class="left hidden md:block">
                        <div class="left-head">

                         
                            <img src="~/assets1/images/profile.jpg" alt="" class="left-profile">
                            <div class="left-head--name roboto-bold">
                                Arman Hosiny
                            </div>
                        </div>
                        <div class="left-btns flex ">
                            <button id="btnprivatechat" class="left-btn flex-1 btn-ui text-white font-bold py-2 px-4 border border-blue-700 rounded">
                                <a href="/login">
                                    Login
                                </a>
                            </button>
                            <button class="left-btn flex-1 btn-ui text-white font-bold py-2 px-4 border border-blue-700 rounded">
                                <a href="/sign up">
                                    Sign up
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="main">
                        <!-- Header -->
                        <div class="header md:hidden" style="background-color: #1b1a1a;">
                            <div class="flex gap-2" >
                                <p style="color: #ff6476; font: bold;">Public Chat</p>
                            </div>
                            <div class="right md:hidden">
                                <div class="left-btns flex flex-col justify-center items-center w-full">
                                    <button class="flex-1 w-full btn-ui text-white font-bold  border border-blue-700 rounded">
                                        <form asp-action="Login" asp-controller="Account" id="loginform">
                                            <a href="javascript:void(0);" class="login-ds" onclick="document.getElementById('loginform').submit();">
                                                <span class="title"> Login</span>
                                            </a>
                                        </form>
                                    </button>
                                    <button class="flex-1 w-full btn-ui text-white font-bold border border-blue-700 rounded">
                                        <form asp-action="Register" asp-controller="Account" id="registerform">
                                            <a href="javascript:void(0);" class="login-ds" onclick="document.getElementById('registerform').submit();">
                                                <span class="title"> SignUp</span>
                                            </a>
                                        </form>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="right flex gap-1 md:hidden relative">
                            <button class="flex-1 w-full btn-ui text-white font-bold  border border-blue-700 rounded">
                                <a href="/public chat">
                                    Public Chat
                                </a>
                            </button>
                            <form asp-action="PrivateChat" asp-controller="ChatRoom">
                            <button class="flex-1 w-full btn-ui text-white font-bold border border-blue-700 rounded">
                                <a href="/private chat">
                                    Private Chat
                                </a>
                            </button>
                            </form>
                        </div>
                        <div id="divmessage" style="overflow-y: scroll;" class="messages">

                            <div class="my-message message">
                                <div class="message-content">
                                    <div class="message-sender">
                                        Arman
                                    </div>
                                    <div class="message-text">
                                        Hello man cvsdddddddddddddddddddddddddddddddddddd
                                    </div>
                                </div>
                            </div>
                          

                        </div>
                        <div class="writer">
                            <input type="text" id="txtmessage" class="writer-input" placeholder="Send a Message">
                            <div class="writer-emojies-btn">🤠</div>
                            <a id="btnsend">
                                <div class="writer-send-btn">
                                    <img src="~/assets1/images/send.png" alt="->" class="writer-send-btn-icon">
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="right hidden md:block">
                        <div class="left-btns flex flex-col w-48">
                            <form asp-action="PrivateChat" asp-controller="ChatRoom" id="privatechat">

                                <button class="flex-1 w-full btn-ui text-white font-bold border border-blue-700 rounded">
                                    <a href="javascript:void(0);" class="login-ds" onclick="document.getElementById('privatechat').submit();">
                                        <span class="title"> Private Chat</span>
                                    </a>

                                </button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <script src="script.js"></script>
    </body>
</html>
</body>
</html>


<script>
    $(() => {

        var connection = new signalR.HubConnectionBuilder().withUrl('/PChat').build()


        connection.start().then(function() {
            alert('ارتباط موفقیت امیز بود')
            const USERNAME = '@User.Identity.Name'
            connection.invoke("UploadMessagesPublic",USERNAME);


            
            connection.on('SendMessageFromAsptoHtml', (username, message,time) => {
                if (username == USERNAME) {  $(divmessage).append(`<div class="my-message message">
                          <div class="message-content">
                       <div class="message-sender">
                                     ${username}
                               </div>
                       <div class="message-text">
                                ${message}
                                </div>
                          <div class="message-time">
                                      ${time}
                        </div>
                     </div>
                           </div>`)
                
                
                }


                else{
                    $(divmessage).append(`<div class="their-message message">
                              <div class="message-content">
                           <div class="message-sender">
                                         ${username}
                                   </div>
                           <div class="message-text">
                                    ${message}
                                    </div>
                              <div class="message-time">
                                          ${time}
                            </div>
                         </div>
                               </div>`)


                }
                var divmessage1 = document.getElementById('divmessage')
                divmessage1.scrollTop = divmessage1.scrollHeight

            })
            connection.on('RefreshOnlineUsers', onlineusers => {
                $(ddlonlineusers).html('<option value="">All</option>')
                for (let x of onlineusers) {
                    $(ddlonlineusers).append(`<option value="${x}">${x}</option>`)
                }
            })
            connection.on('RefreshMessages', (username, allmessages, alldates, allusers) => {
                for (let i = 0; i < allmessages.length; i++) {
                    const message = allmessages[i]; // The message content
                    const user = allusers[i];       // The user name
                    const time = alldates[i];       // The formatted time string (HH:mm)
                    if (user== USERNAME) {
                        $(divmessage).append(`<div class="my-message message">
                              <div class="message-content">
                           <div class="message-sender">
                                         ${user}
                                   </div>
                           <div class="message-text">
                                    ${message}
                                    </div>
                              <div class="message-time">
                                          ${time}
                            </div>
                         </div>
                       </div>`)
                    }
                    else{

                        $(divmessage).append(`<div class="their-message message">
                                  <div class="message-content">
                               <div class="message-sender">
                                             ${user}
                                       </div>
                               <div class="message-text">
                                        ${message}
                                        </div>
                                  <div class="message-time">
                                              ${time}
                                </div>
                             </div>
                           </div>`)

                    }}
            });


            connection.on("RemoveUsersFromOnlineUsers", (username) => {
                $(`#ddlonlineusers option[value='${username}']`).remove()
            })

            connection.invoke("RegisterUserInSignalR", '@User.Identity.Name')




        }).catch(function(err) {
            alert('خطا')
        })






        $(document).ready(function() {
            $('#btnsend').click(function() {
                var message = $('#txtmessage').val();
                var fullname = $('#fullname').val();

                connection.invoke('SendMessageFromHtmlToAsp', message, '@User.Identity.Name', "", fullname)
                    .catch(function(err) {
                        console.error(err.toString());
                    });

                // Clear the input field after sending the message
                $('#txtmessage').val(''); // Use this to clear the input field
            });
        });

       

        $(btnprivatechat).click(function() {



            connection.invoke("ExitOfchat", '@User.Identity.Name')
        })


    })




</script>